@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-900 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-800;
}

/* Smooth transitions */
* {
  @apply transition-colors duration-200;
}